.pageContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.headlineText {
  color: white;
  font-style: italic;
}